/* .d{
    background-color: blue;
    width: 100px;
    height: 100px;
}


.r{
    background-color: red;
    width: 500px;
    height: 500px;
} */

.h{
    background-color: green;
    

}
.p{
    background-color: purple;
   

}